@{
    ViewData["Title"] = "Информация о продавце";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/info_container.css" />
</head>
<body>

    <div class="info-container">
        <h1>Информация о продавце</h1>
        <p>
            ИП Будяева Юлия Владимировна <br>
            ОГРН ИП 318502400022399<br>
            ИНН 503204222900<br>
            Счёт 40802810900006529879<br>
            Банк АО «ТБанк»<br>
            БИК 044525974<br>
            Кор счёт 30101810145250000974<br>
            Адрес: Московская область, п. Власиха, ул. Цветной бульвар, д.9, кв.64<br>
            Телефон: 8(925)-820-71-41<br>
        </p>
    </div>

</body>
</html>
