@{
    ViewData["Title"] = "Информация о продавце";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1>Информация о продавце</h1>
    <p>
        ИП Будяева Юлия Владимировна
        ОГРНИП318502400022399
        ИНН503204222900
        Счёт40802810302160004222
        БанкАО «АЛЬФА-БАНК»
        БИК044525593
        Кор счёт 30101810200000000593
        Адрес:Московская область, п. Власиха, ул. Цветной бульвар, д.9,кв.64
        Телефон: +79258207141
    </p>

</body>
</html>