@{
    ViewData["Title"] = "Правила оплаты";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/info_container.css" />
</head>
<body>

    <div class="info-container">
        <h1>Информация о продавце</h1>
        <p>
            Правила оплаты<br>
            Услуга оплаты через интернет осуществляется в соответствии с правилами международных платежных систем Visa, MasterCard и платежной системы «Мир» на принципах соблюдения конфиденциальности и безопасности совершения платежа, для него используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищённой платежной странице AO «ТБанк». На странице для ввода данных банковской карты  потребуется ввести данные  банковской карты: номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA или CVC2 для Мaster Card). Все необходимые данные пропечатаны на самой карте. Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты. Далее вы будете перенаправлены на страницу Вашего банка для ввода 3DSecure кода, который придёт Вам в СМС. Если 3DSecure код Вам не пришел, то следует обратится в банк, выдавший Вам карту. Случаи отказа в совершении платежа:          -банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш банк          -недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту          -данные банковской карты введены неверно          -истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта)
            Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выдавший Вам банковскую карту.
            По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обращаться по следующим телефонам: 8(925)-820-71-41.
            Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является
            конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зафиксированнном
            виде и не сохраняются на нашем web-cepвepe.

        </p>
    </div>

</body>
</html>