@{
    ViewData["Title"] = "Правила возврата";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Правила возврата</h1>
    <p>
        Правила возврата 
        1. Настоящее положение устанавливает правила для возврата и переноса участия спортсмена в соревновании. 
        2. Настоящим положением подразумевается, что спортсмен (или его представитель) ознакомлен с данными правилами и принимает их 
        3. Возврат осуществляется в случае, если:     
        1) С момента сообщения о болезни спортсмена прошло не менее 3 дней до начала соревнования.     
        2) Сумма, причитающаяся к   возврату, возвращается за вычетом фактически понесенных расходов
        на организацию соревнования в течение 30 банковских дней при обязательном предоставлении
        на почту Организатора plavanievlasiha@yandex.ru следующих документов:
        -заявление в свободной форме о возврате с указанием причины.
        -документ, подтверждающий болезнь участника          
        -сумма к возврату с приложением чека об оплате          
        -реквизиты получателя (ФИО, номер р/с, БИК банка получателя)     
        3) Во всех остальных случаях возврат не осуществляется, 
        и возможен только перенос участия спортсмена на другие этапы, но не позднее чем 12 месяцев с момента болезни.
        4) Участие спортсмена в других соревнованиях не является уважительной причиной для возврата денежных средств. 
        4. Перенос участия спортсмена  осуществляется в случае, если:     
        1) Спортсмен заявил, что не имеет возможности принять участие по семейным/иным обстоятельствам 
        2) Сообщение о болезни спортсмена пришло за 3 дня и менее до начала соревнования     
        3) Сообщение о переносе поступило до начала соревнования 
        5. Во всех остальных случаях, если соревнование не отменено Организатором, кроме случаев форс-мажорных обстоятельств, возвраты и переносы не допускаются.
    </p>
</body>
</html>