@{
	ViewData["Title"] = "Главная";
}

<body>
	<main>
		<div class="registration_section">
			<div class="registration">
				<h2>Регистрация на турнир "Кубок Главы городского округа Власиха"</h2>
				<h3>1 этап</h3>
				<p>29 сентября 2024/Власиха/мкр. Школьный д.10</p>
				<a asp-controller="Registration" asp-action="Index">
					<button class="reg-button">Зарегистрироваться</button>
				</a>
			</div>


			<div id="about" class="tournament-info">
				<div class="column">
 					<div class="col-lg-6">
						<div class="box-item">
							<h4>
								<a target="_blank" href="~/Files/Kubok_glavy_Vlasikhi.pdf">Положение <i class="fas fa-download"></i>
								</a>
								</h4>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="box-item">
							<h4><a target="_blank"  href="~/Files//REGLAMENT_Vlasikha_29_sentyabrya.pdf">Регламент <i class="fas fa-download"></i></a></h4>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="box-item">
							<h4><a target="_blank"  href="#">Памятка <i class="fas fa-download"></i></a></h4>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="box-item">
							<h4><a target="_blank" href="~/Files/pravila_vida_sporta_plavanie_2024.pdf">Правила плавание <i class="fas fa-download"></i></a></h4>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="col-lg-6">
						<div class="box-item">
							<h4><a target="_blank" href="https://cska-od.ru/2024/VLASIHA/01/">Online результаты <i class="fas fa-download"></i></a></h4>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="box-item">
							<h4><a target="_blank"  href="#">Первый лист <i class="fas fa-download"></i></a></h4>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="box-item">
							<h4><a target ="_blank" href="#">Список судей <i class="fas fa-download"></i></a></h4>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="box-item">
							<h4><a target="_blank" href="~/Files/NORMATIVY.pdf">Нормативы <i class="fas fa-download"></i></a></h4>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-3">
				<div class="service-item first-service">
					<div class="icon"></div>
					<h4>Именная заявка</h4>
					<div class="button">
						<a target="_blank" href="~/Files/imennaya_zayavka.pdf">Ознакомиться<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="service-item second-service">
					<div class="icon"></div>
					<h4>Заявление на перенос денежных средств</h4>
					<div class="button">
						<a target="_blank" href="~/Files/Zayavlenie_na_perenos.pdf">Ознакомиться<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="service-item third-service">
					<div class="icon"></div>
					<h4>Видеотрансляция</h4>
					<div class="button">
						<a href="https://www.youtube.com/@@VLASIHA_KUBOK" target="_blank">Смотреть<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="service-item fourth-service">
					<div class="icon"></div>
					<h4>Согласие на обработку персональных данных</h4>
					<p>До 18 лет</p>
					<div class="button">
						<a target="_blank"  href="~/Files/soglasie_person_data_nesovershennolet_2020.pdf">Ознакомиться<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="service-item fifth-service">
					<div class="icon"></div>
					<h4>Согласие на обработку персональных данных</h4>
					<p>Старше 18 лет</p>
					<div class="button">
						<a target="_blank"  href="~/Files//soglasie_person_data.pdf">Ознакомиться<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="service-item sixth-service">
					<div class="icon"></div>
					<h4>Архив протоколов</h4>
					<div class="button">
						<a>Ознакомиться<i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="container contacts-map-section">
			<div class="contacts">
				<h3>Контакты</h3>
				<p><i class="fas fa-phone"></i> <span class="contact-info">+7 903 599 12 90 </span><span class="contact-info"> - Игумнова Ольга Викторовна </span><br>Главный судья соревнований </p>
				<p><i class="fas fa-phone"></i> <span class="contact-info">+7 930 939 28 45 </span><span class="contact-info"> - Будяев Денис Николаевич </span><br>Главный секретарь соревнований </p>
				<p><i class="fas fa-phone"></i> <span class="contact-info">+7 925 820 71 41 </span><span class="contact-info"> - Будяева Юлия Владимировна </span><br> Организатор соревнований (по вопросам оплаты)</p>
				<p><i class="fas fa-map-marker-alt"></i> <span class="contact-info"> п. Власиха, мкр. Школьный д. 10 место проведения (п/б "Перспектива", 25 м.)</span></p>
				<p><i class="fas fa-envelope"></i><span class="contact-info"> plavanievlasiha@yandex.ru </span></p>
			</div>
			<div class="map-container">
				<div id="yandex-map" style="width: 100%; height: 100%;"></div>
			</div>



		</div>
		<script src="~/js/yandex-map.js" asp-append-version="true"></script>
	</main>
</body>