@model VlasikhaPlavanieWebsite.Models.PaymentViewModel

@{
    ViewData["Title"] = "Оплата";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/payment.css" asp-append-version="true" />

<div class="container">
    <form class="payment-form" method="post" asp-action="Submit">
        <div class="checkbox-group">
            <label><input type="checkbox" required> Я принимаю условия <a href="#">Пользовательского соглашения</a> и <a href="#">политики конфиденциальности</a></label>
            <label><input type="checkbox" required> Даю согласие на обработку <a href="#">персональных данных</a></label>
        </div>
        <div class="info-links">
            <a href="#">Информация о продавце</a>
            <a href="#">Правила возврата</a>
            <a href="#">Правила оплаты</a>
        </div>
        <a href="@Url.Action("Index", "Registration")" class="back-button" formnovalidate>← Вернуться к регистрации</a>
    </form>
    <div class="payment-summary">
        <div class="summary-item"><strong>Участников:</strong> @Model.ParticipantsCount</div>
        <div class="summary-item"><strong>Дисциплин:</strong> @Model.DisciplinesCount</div>
        <div class="promo-code">
            <label for="promo-code">Введите промокод</label>
            <input type="text" id="promo-code" placeholder="Введите код">
            <button type="button">ОК</button>
        </div>
        <div class="total-amount">
            <span>Итого к оплате:</span>
            <span>@Model.TotalAmount ₽</span>
        </div>
        <button type="submit" class="pay-button">Оплатить</button>
        <div class="payment-methods">
            <img src="~/images/pay_card.png" alt="Payment Methods">
        </div>
        <div class="bank-info">Оплата банковскими картами осуществляется через АО "АЛЬФА-БАНК"</div>
    </div>
</div>



@section Scripts {
    <script src="~/js/payment.js" asp-append-version="true"></script>
}